---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family: 'Lato', Arial, sans-serif;
$heading-font-family: 'Oswald', Arial, sans-serif;

$background-color: #FFF;
$footer-color: #F5F5F5;
$mute-color: #212121;
$loud-color: #FB5D5D;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_normalize",
        "_skeleton"
;

// Typography
h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $loud-color;
}

h1 {
  font-family: $heading-font-family;
  color: $loud-color;
}


// Nav
nav {
  margin: 0;
  padding: 0;
  background-color: $loud-color;
}

nav * {
  color: $background-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5rem;
}

nav a:link, nav a:visited {
  color: $background-color;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
}

nav li:before {
  content: '\002605';
  padding: 0 10px;
}

nav li:first-child:before {
  content: "";
}

nav li {
  margin: 0;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header > * {
  margin: 0;
}

hr {
  text-align: center;
}

.starred {
  border-top: 4px double $mute-color;
}

.starred:after {
  display: inline;
  position: relative;
  top: -15px;
  content: '\002605';
  background-color: $background-color;
  padding: 0 10px;
  font-size: 18px;
  color: $mute-color;
}

// Main page
main {
  background-color: $background-color;
}

// Footer
.org-img {
  width: 5em;
  background-color: #FFF;
  padding: 5px;
}

.icon {
  fill: $mute-color;
}

footer, body {
  background-color: $footer-color;
}

footer {
  padding: 2rem 1rem 0 1rem;
}

main {
  padding: 5rem 0;
}

@media (min-width: 750px) {
  .side-by-side {
    display: flex;
    flex-wrap: nowrap;
  }

  .side-by-side-heading {
    min-width: 20rem;
    max-width: 20rem;
    width: 20rem;
  }
}

// Overriding styles
.side-by-side ul, footer ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer > * {
  max-width: 60rem;
  min-width: 10rem;
  margin: 10px;
}

footer li {
  margin: 0;
}
