---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family: 'Lato', Arial, sans-serif;
$heading-font-family:  'Oswald', Arial, sans-serif;

$background-color: #FFF;
$outer-color: #F5F5F5;
$color: #212121;
$heading-color: #FB5D5D;

// Nav
nav {
  margin: 0;
  padding: 0;
}

nav h1 {
  font-size: 2rem;
}

.navbar {
  //display: none;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $heading-color;
}

// Company images
.org-img {
  width: 5em;
}

.icon {
  fill: $color;
}

nav, footer {
  background-color: $outer-color;
}

footer {
  padding: 2rem 1rem 0 1rem;
}

main {
  padding: 5rem 0;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  .side-by-side {
    display: flex;
    flex-wrap: nowrap;
  }

  .side-by-side-heading {
    min-width: 20rem;
    max-width: 20rem;
    width: 20rem;
  }
}

hr {
  text-align: center;
  border-top: 4px double $color;
}

.starred:after {
  display: inline;
  position: relative;
  top: -15px;
  content: '\002606';
  background-color: $background-color;
  padding: 0 10px;
  font-size: 18px;
  color: $color;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_normalize",
        "_skeleton"
;

// Overriding styles
.side-by-side ul, footer ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer > * {
  max-width: 60rem;
  min-width: 10rem;
  margin: 10px;
}

footer li {
  margin: 0;
}
