---
layout: default
permalink: /blog/
---

<header>
  <h1 class="post-title">Blog</h1>
  <p>where I occasionally write about things I do, learn, and see</p>
</header>

<hr class="starred">

<ul>
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endfor %}

  {% if !site.posts %}
  <p>
    Surely there will be something here soon..
  </p>
  {% endif %}
</ul>

  <p>
    subscribe
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </p>

</div>
